sudo: required
services:
  - docker

before_install:
  - docker build -t waltermyersiii/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run waltermyersiii/react-test npm waltermyersiii/react-test -- --coverage

after_success:
  - docker build -t waltermyersiii/multi-client ./client
  - docker build -t waltermyersiii/multi-nginx ./nginx
  - docker build -t waltermyersiii/multi-server ./server
  - docker build -t waltermyersiii/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push to Docker hub
  - docker push waltermyersiii/multi-client
  - docker push waltermyersiii/multi-nginx
  - docker push waltermyersiii/multi-server
  - docker push waltermyersiii/multi-worker